.right {
    margin-bottom: 30px;
    text-align: right;
    font-size: xx-large;
    margin-left: 700px;
    max-width: 601px;
    cursor: pointer;

}

/* .num {
    margin-top: -20px;
    margin-left: 611px;

} */

.left {
    margin-top: -6.3em;
    margin-left: 100px;
    font-size: x-large;
    text-align: left;
    width: 510px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}

.divider {
    margin-left: 560px;
}

.surah {
    font-size: xxx-large;
}

.bism {
    margin-bottom: 40px;
    font-size: xx-large;
}

.button {
    text-align: left;
}






@media only screen and (max-width: 700px) {

    .left {
        font-size: medium;
        text-align: left;
        margin-left: -2px;
        padding: 5px 5px 35px 5px;
    }

    .right {
        text-align: center;
        margin-left: -1px;
        margin-bottom: 90px;
        font-size: x-large;
    }

    .divider {
        display: none;
    }
}