.surah {
    font-size: xxx-large;
}

.bism {
    font-size: xx-large;
}

.button {
    text-align: left;
    margin-left: 10px;
}


.text {
    display: block;
    width: 100%;
    overflow: hidden;
}

.left,
.right {
    width: 45%;

}

.left {
    margin-left: 45px;
    text-align: left;
    align-items: left;
    margin-top: -33px;
    font-size: x-large;
}

.right {
    float: right;
    margin-right: 45px;
    text-align: right;
    align-items: right;
    font-size: xx-large;
}





@media only screen and (max-width: 700px) {

    .left {
        font-size: medium;
        text-align: left;
        margin-left: -2px;
        padding: 5px 5px 35px 5px;
        margin-top: 1px;
    }

    .right {
        text-align: center;
        margin-left: -1px;
        margin-bottom: 90px;
        font-size: x-large;
    }

    .divider {
        display: none;
    }

    .Lbutton {
        margin-left: -470px;
    }

    .Rbutton {
        margin-right: -470px;
    }
}