.divider {
    /* margin-left: 560px; */
    float: center;
    margin-left: 720px;
}

.surah {
    font-size: xxx-large;
}

.bism {
    margin-bottom: 40px;
    font-size: xx-large;
}

.button {
    text-align: left;
    margin-left: 10px;
}


.text {
    display: block;
    width: 100%;
    overflow: hidden;
}

.left,
.right {
    display: inline-block;
    width: 45%;
    vertical-align: top;

}

.left {
    margin-top: -33px;
    float: left;
    font-size: x-large;
}

.right {
    float: right;
    font-size: xx-large;
}




@media only screen and (max-width: 700px) {

    .left {
        font-size: medium;
        text-align: left;
        margin-left: -2px;
        padding: 5px 5px 35px 5px;
        margin-top: 1px;
    }

    .right {
        text-align: center;
        margin-left: -1px;
        margin-bottom: 90px;
        font-size: x-large;
    }

    .divider {
        display: none;
    }
}