.topsearchs{
font-size: xx-large;
color: #92BA92;
}
.element{
 display:inline-block;
 border-radius: 10px;
 border-style: double;
 padding: 20px 20px 20px 20px;
 margin-right: 15px;
 margin-top: 40px;
 font-size: x-large;
}
.form {
  position:relative;

  margin-top: -230px;

}
.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}

.left-pan {
  padding-left: 7px
}

.left-pan i {
  padding-left: 10px
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}

.link{
    width: 450px;
    height: 120px;
  display:inline-block;
    border: 3px solid ;
    border-radius: 10px;

    padding: 10px 10px 10px 10px;
    border-color: #92BA92;
    background-color: #FFF8F3;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.bismillah,.what{
  margin-top: 80px;
}
.what{
  margin-bottom: -50px;
font-size: large;
}
.box:hover{
  color: #92BA92;
  transition: ease-in-out;
  
}
@media only screen and (max-width: 1000px) {
  .element{
    display: inline-flex;
    width: 220px;
   margin-left: 10px;
  }
.b{
  margin-top: 87px;

}
  .form {
  position: relative;
  margin-top: -230px;

}
.form .fa-search {
  position: absolute;
  top: 10px;
margin-left: 400px;
  color: #9ca3af;

}

.form span {
  position: absolute;

  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db
}



.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px
}

.form-input:focus {
  box-shadow: none;
  border: none
}

  .link{
    margin: 1rem 2rem;

width: 300px;
   
    text-decoration:black;

    text-align: justify;
    border-color: #69b8d9;
    background-color: #FFF8F3;

  }
  .bis{
    background-image: url("https://th-thumbnailer.cdn-si-edu.com/1duQKPGJbq9AhgdwcPg_jyJbGjQ=/1000x750/filters:no_upscale()/https://tf-cmsv2-photocontest-smithsonianmag-prod-approved.s3.amazonaws.com/4906f7b0f0a90f59faabb73b68ed0455e9000b7d.jpg");
    background-size: cover;
    background-attachment: fixed;
    position:static;
    color: white;
    margin-top: 10%;
    height: 90vh;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .date{
z-index: 2;
    letter-spacing: 2px;

  }
  .bismillah{
    font-size:medium;

  }
  .englishname{
    font-size: xx-small;
    margin-left: -11px;
  }
  .arabicname{

    font-size: xx-small;
  }
}

/*  MEDIA QUERY END*/
.bis{
 
  background-image: url("https://th-thumbnailer.cdn-si-edu.com/1duQKPGJbq9AhgdwcPg_jyJbGjQ=/1000x750/filters:no_upscale()/https://tf-cmsv2-photocontest-smithsonianmag-prod-approved.s3.amazonaws.com/4906f7b0f0a90f59faabb73b68ed0455e9000b7d.jpg");
 

background-size: cover;
background-attachment: fixed;
position:static;
color: white;

height: 90vh;
align-items: center;

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;


}
.chap{
  background-color: white;
  margin-top: 100px;
  display:inline-block;
}
.date{

  letter-spacing: 2px;
margin-bottom: 200px;

}
.bismillah{
  font-size: xxx-large;
margin-bottom: 400px;

}

.nameTranslation{
  font-size: large;
  text-align: left;
}
.arabicname{
  font-size: large;
 text-align: right;
 margin-top: -55px;
 margin-right: 15px;

}
.englishname{
  font-size: large;



}
.englishname,.nameTranslation {
text-align: left;
padding: 5px 5px 5px 5px;
}