.person1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.person1:hover {
    color: slateblue;
}

.person2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 14em;
}

.person2:hover {
    color: purple;
}

.person3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 10px;
padding: 20px 20px 20px 20px;
    display: inline-block;

}

.person3:hover {
    color: #c84b31;
}

.icon {
    padding: 10px 10px 10px 10px;
    color: black;
}

.dev1 {
    background-color: #fef5ed;
}

@media only screen and (max-width: 1000px) {
    .person1 {

        margin-top: 19px;
        size: x-small;
    }

    .person2 {

        size: x-small;
    }

    .person3 {
        size: x-small;
    }

    .dev1 {

        background-color: #fef5ed;
    }
}