@media screen and (min-width: 769px) {
    .footer {
        position: absolute;
        width: 1450px;
        background-color: #f7f7f7;
        min-height: 60%;
    }
    .address {
        text-align: left;
        margin-top: 50px;
        margin-left: 45px;
    }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .footer {
        margin-top: 3px;
        font-size: medium;

        background-color: #f7f7f7;
    }
    .social {
        padding: 5px 5px 5px 5px;
        size: 20px;
        cursor: pointer;
        font-size: medium;
        color: black;
    }
    .year {
        font-size: medium;
    }
}
.social {
    padding: 10px 10px 10px 10px;
    size: 20px;
    cursor: pointer;
    font-size: medium;
    color: black;
}
.address {
    text-align: left;
    margin-top: 50px;
    margin-left: 45px;
    font-size: small;
}
