.verses {
    display: grid;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
    background-color: #f7f7f7;
    cursor: pointer;
    overflow: auto;
}
.surah {
    margin-left: 600px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: xxx-large;
}

.bis {
    text-align: center;
}
.reading {
    font-size: x-large;
}
.text {
    font-size: x-large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-decoration: double;

    color: black;
}
.bism {
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: -9px;
    font-size: xx-large;
}
.right {
    text-align: right;
    font-size: xx-large;
    font-family: "Bebas Neue", cursive;
}
.right:hover {
    color: green;
}

.left {
    font-size: x-large;
    margin-top: 50px;
}
.left:hover {
    color: green;
}

@media only screen and (max-width: 1000px) {
    .verses {
        justify-content: left;
        text-align: left;

        padding: 20px 20px 20px 20px;
        margin-top: 30px;
        background-color: #f7f7f7;
    }
    .surah {
        margin-left: 70px;
        text-align: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: xxx-large;
    }
    .text {
        font-size: large;

        font-family: "Times New Roman", Times, serif;
    }
    .bis {
        text-align: center;
    }
    .bism {
        display: none;
        margin-bottom: 20px;
        margin-top: -9px;
    }
}

.controls button {
    background-color: transparent;
}

/* .button{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #3c67e3;
border-radius: 10px;
}
.button:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff,
        0 0 50px #4e00c2;
    }
} */
