.about{
    background-color: #F7F7F7;
    color: black;
    width:fit-content;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1000px) {
 
  .about{
      font-size: medium;
      margin-top: 60px;
  }

}
