.about{
    background-color: #3A3845;
    color: whitesmoke;
    width:fit-content;
}
.privacy{
    text-align: center;
   
}
@media only screen and (max-width: 1000px) {
 
  .about{
      font-size: medium;
      margin-top: 60px;
  }

}
