.app{
    box-sizing: border-box;
   
    background-color: white;
}
.route{
    font-family: 'BIZ UDPMincho', serif;
    text-align: center;
    font-size: xx-large;
 
}
@media only screen and (max-width: 330px) {
    .route {
        width: 330px;
        max-height:max-content;
    }
    .app{
    box-sizing: border-box;
   
    background-color: white;
}

}