.link{
    width: 400px;
  display:inline-block;
    border: 6px solid ;
    border-radius: 50px;
  text-decoration:black;
    padding: 20px 20px 20px 20px;
    border-color: #30AADD;
    background-color: #FFF8F3;
  
}
@media only screen and (max-width: 1000px) {
  .link{
    margin: 1rem 2rem;

width: 250px;
    border-radius: 45px;
    text-decoration:black;
    padding: 20px;
    text-align: justify;
    border-color: #69b8d9;
    background-color: #FFF8F3;
    margin-left: 30px;
  }
  .bis{
    background-image: url("https://th-thumbnailer.cdn-si-edu.com/1duQKPGJbq9AhgdwcPg_jyJbGjQ=/1000x750/filters:no_upscale()/https://tf-cmsv2-photocontest-smithsonianmag-prod-approved.s3.amazonaws.com/4906f7b0f0a90f59faabb73b68ed0455e9000b7d.jpg");
    background-size: cover;
    background-attachment: fixed;
    position:static;
    color: white;
    margin-top: 120px;
    height: 90vh;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .date{
z-index: 2;
    letter-spacing: 2px;

  }
  .bismillah{
    font-size:medium;

  }
}
/*  MEDIA QUERY END*/
.bis{
 
  background-image: url("https://th-thumbnailer.cdn-si-edu.com/1duQKPGJbq9AhgdwcPg_jyJbGjQ=/1000x750/filters:no_upscale()/https://tf-cmsv2-photocontest-smithsonianmag-prod-approved.s3.amazonaws.com/4906f7b0f0a90f59faabb73b68ed0455e9000b7d.jpg");
 

background-size: cover;
background-attachment: fixed;
position:static;
color: white;

height: 90vh;
align-items: center;

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;


}
.chap{
  background-color: white;
  margin-top: 100px;
  display:inline-block;
}
.date{

  letter-spacing: 2px;
margin-bottom: 200px;

}
.bismillah{
  font-size: xxx-large;
margin-bottom: 400px;

}

