.footer{
  
position:absolute;
width: 1450px;
    background-color: #B5DEFF;
    min-height: 70%;

    /* grid-template-rows: auto 1fr auto; */
  
}
.social{
    padding: 10px 10px 10px 10px;
    size: 20px;
    cursor: pointer;

 color: black;
    
}