.footer{
  
position:absolute;
width: 1450px;
    background-color: #B5DEFF;
    min-height: 60%;  
}
@media only screen and (max-width: 780px) {
    .footer{
      margin-top: 3px;
    font-size: medium;
        width: 500px;
            background-color: #B5DEFF;
max-height: 20px;
    }
    .social{
        padding: 5px 5px 5px 5px;
        size: 20px;
        cursor: pointer;
        font-size: medium;
     color: black;
        
    }
    .year{
        font-size: medium;
    }
}
.social{
    padding: 10px 10px 10px 10px;
    size: 20px;
    cursor: pointer;

 color: black;
    
}