.footer{
  
position:absolute;
width: 1450px;
    background-color: #B5DEFF;
    min-height: 70%;

    /* grid-template-rows: auto 1fr auto; */
  
}
@media only screen and (max-width: 730px) {
    .footer{
  
    
        width: 500px;
            background-color: #B5DEFF;
            min-height: 70%;
    }
    .social{
        padding: 10px 10px 10px 10px;
        size: 20px;
        cursor: pointer;
    
     color: black;
        
    }
}
.social{
    padding: 10px 10px 10px 10px;
    size: 20px;
    cursor: pointer;

 color: black;
    
}