.surahs{
    background-color: #F7F7F7;
    cursor: pointer;
  font-size: xxx-large;
  text-align:center;
  
}
@media only screen and (max-width: 1000px) {
  .surahs{
  margin-top: 65px;
    background-color: #F7F7F7;
text-align: center;
    cursor: pointer;
  font-size: medium;
  margin-bottom: -8px;

}

}