.surahs{
    background-color: #E9D5DA;
    cursor: pointer;
  font-size: xxx-large;
  text-align:center;
  
}
@media only screen and (max-width: 500px) {
  .surahs{
    background-color: #E9D5DA;
    width: 500px;
text-align: right;
    cursor: pointer;
  font-size: xxx-large;
margin-bottom: -8px;
  
}

}