.verses{
    display: grid;
 text-align:left;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
background-color: #CAB8FF;
cursor: pointer;
overflow: auto;

}
@media only screen and (max-width: 330px) {
    .verses{
        display: grid;
        padding: 20px 20px 20px 20px;
        margin-top: 30px;
text-align: left;
margin-left: -21px;
        background-color: #CAB8FF;
        width: 330px;
    }
   
    
}
.bis{
    text-align: center;
}
.text{
font-size: x-large;
font-family:Georgia, 'Times New Roman', Times, serif;
text-decoration:double;
letter-spacing: 0px;
color: black;
tab-size: 2;   
}
.bism{
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: -9px;
}