.verses{
    display: grid;
 text-align:left;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
background-color: #F7F7F7;
cursor: pointer;
overflow: auto;

}

.bis{
    text-align: center;
}
.text{
font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
text-decoration:double;

color: black;

 
}
.bism{
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: -9px;
    font-size: xx-large;
}
.right{
    text-align: right;
    font-size: xx-large;
}
.right:hover{
    color: green;
}

.left{
    font-size: x-large;
    margin-top: 50px;
}
.left:hover{
    color: green;
}
@media only screen and (max-width: 1000px) {
    .verses{
justify-content: left;
        text-align: left;

        padding: 20px 20px 20px 20px;
        margin-top: 30px;
        background-color: #F7F7F7;
    }
    .text{
        font-size:large;

        font-family: 'Times New Roman', Times, serif;
    }
    .bis{
        text-align: center;
    }
    .bism{
display: none;
        margin-bottom: 20px;
        margin-top: -9px;
    }
}