.verses{
    display: grid;
 text-align:left;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
background-color: #CAB8FF;
cursor: pointer;
overflow: auto;

}

.bis{
    text-align: center;
}
.text{
font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
text-decoration:double;

color: black;

 
}
.bism{
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: -9px;
}
@media only screen and (max-width: 780px) {
    .verses{
 
justify-content: left;
        text-align: left;
        text-overflow:unset;
        padding: 20px 20px 20px 20px;
        margin-top: 30px;
        background-color: #CAB8FF;
    }
    .text{
        font-size:large;
width: 450px;
        font-family: 'Times New Roman', Times, serif;
    }
    .bis{
        text-align: center;
    }
    .bism{
display: none;
        margin-bottom: 20px;
        margin-top: -9px;
    }
}